# ----------------------------------------------------------------------------
# Jobmanager example
# ----------------------------------------------------------------------------

flink:
    # Flink's version
    version: 1.0.3
    hadoop_version: 27
    scala_version: 2.11
    binaries_base_url: http://mirror.nohup.it/apache
    hash_base_url: http://www-eu.apache.org
    # Java's version
    java:
        url: http://download.oracle.com/otn-pub/java/jdk/8u92-b14/jre-8u92-linux-x64.tar.gz
        name: jre1.8.0_92
        hash: sha256=79a3f25e9b466cb9e969d1772ea38550de320c88e9119bf8aa11ce8547c39987
        home: /opt/java
    # Flink's envoronment
    env:
        home: /opt/flink
        conf: /opt/flink/conf
        user: flink
    # Flink's configuration (optional)
    conf:
        jobmanager.heap.mb: 256
        jobmanager.rpc.address: localhost
        jobmanager.rpc.port: 6123
        jobmanager.web.port: 8081
        parallelism.default: 1
        taskmanager.heap.mb: 512
        taskmanager.memory.preallocate: false
        taskmanager.numberOfTaskSlots: 1
    # slave nodes
    slaves:
        - host_name: flink-slave-1
          ip_addr: 192.168.100.1
        - host_name: flink-slave-2
          ip_addr: 192.168.100.2
        - host_name: flink-slave-3
          ip_addr: 192.168.100.3

# ----------------------------------------------------------------------------
# Taskmanager example
# ----------------------------------------------------------------------------

flink:
    # Flink's version
    version: 1.0.3
    hadoop_version: 27
    scala_version: 2.11
    binaries_base_url: http://mirror.nohup.it/apache
    hash_base_url: http://www-eu.apache.org
    # Java's version
    java:
        url: http://download.oracle.com/otn-pub/java/jdk/8u92-b14/jre-8u92-linux-x64.tar.gz
        name: jre1.8.0_92
        hash: sha256=79a3f25e9b466cb9e969d1772ea38550de320c88e9119bf8aa11ce8547c39987
        home: /opt/java
    # Flink's envoronment
    env:
        home: /opt/flink
        conf: /opt/flink/conf
        user: flink
    # Flink's configuration
    conf:
        jobmanager.heap.mb: 256
        jobmanager.rpc.address: flink-master
        jobmanager.rpc.port: 6123
        jobmanager.web.port: 8081
        parallelism.default: 1
        taskmanager.heap.mb: 512
        taskmanager.memory.preallocate: false
        taskmanager.numberOfTaskSlots: 1
    # master
    master:
        host_name: flink-master
        ip_addr: 192.168.100.254
        pubkey: AAAAB3NzaC1kc3MAAACBAL0sQ9fJ5bYTEyY==

# ----------------------------------------------------------------------------
# Full example
# ----------------------------------------------------------------------------

flink:
    # Flink's version
    version: 1.0.3
    hadoop_version: 27
    scala_version: 2.11
    binaries_base_url: http://mirror.nohup.it/apache
    hash_base_url: http://www-eu.apache.org
    # Java's version
    java:
        url: http://download.oracle.com/otn-pub/java/jdk/8u92-b14/jre-8u92-linux-x64.tar.gz
        name: jre1.8.0_92
        hash: sha256=79a3f25e9b466cb9e969d1772ea38550de320c88e9119bf8aa11ce8547c39987
        home: /opt/java
    # Flink's envoronment
    env:
        home: /opt/flink
        conf: /opt/flink/conf
        user: flink
        groups:
            - root
    # Flink's configuration (optional)
    conf:
        jobmanager.heap.mb: 256
        jobmanager.rpc.address: localhost
        jobmanager.rpc.port: 6123
        jobmanager.web.port: 8081
        parallelism.default: 1
        taskmanager.heap.mb: 512
        taskmanager.memory.preallocate: false
        taskmanager.numberOfTaskSlots: 1
    # jobmanager specific (optional)
    slaves:
        - host_name: flink-slave-1
          ip_addr: 192.168.100.1
        - host_name: flink-slave-2
          ip_addr: 192.168.100.2
        - host_name: flink-slave-3
          ip_addr: 192.168.100.3
    # taskmanager specific (optional)
    master:
        host_name: flink-master
        ip_addr: 192.168.100.254
        pubkey: AAAAB3NzaC1kc3MAAACBAL0sQ9fJ5bYTEyY==