# See: https://flink.apache.org/downloads.html

# It will install Flink 1.0.3 for Hadoop 2.6.0 and Scala 2.10
flink:
    hadoop_version: '26'
    scala_version: '2.10'

# It will install Flink 1.0.0 for Hadoop 2.7.0 and Scala 2.11
flink:
    version: '1.0.0'

# It will install Oracle JRE 7u80
java:
    url: 'http://download.oracle.com/otn-pub/java/jdk/7u80-b15/jre-7u80-linux-i586.tar.gz'
    name: 'jre1.7.0_80'
    hash: 'md5=0811a4045714bd8f1e1577e318528597'

# Configures the Flink's jobmanager
jobmanager:
    slaves:
        - '192.168.1.100'
        - 'flink-slave-1'
        - '192.168.1.24'
        - 'flink-slave-2'
