{%
set ssh = salt['grains.filter_by'](
    {
        'default': {
            'packages':[],
        },
        'Debian': {
            'packages':[
                'openssh-client',
                'openssh-server',
            ],
            'service': 'ssh',
        },
        'Ubuntu': {
             'packages':[
                'openssh-client',
                'openssh-server',
            ],
            'service': 'ssh',
        },
        'CentOS': {
            'packages':[
                'openssh-clients',
                'openssh-server',
            ],
            'service': 'sshd',
        },
        'RedHat': {
            'packages':[
                'openssh-clients',
                'openssh-server',
            ],
            'service': 'sshd',
        },
    },
    grain='os',
    merge=salt['pillar.get']('ssh:lookup'),
    default='default',
    base='default'
)
%}
