{%
set dependencies = salt['grains.filter_by'](
    {
        'default': {
            'packages':[
                'oracle-java8-installer',
                'oracle-java8-set-default',
                'openssh-client',
                'openssh-server'
            ],
        },
        'Debian': {
        },
        'Ubuntu': {
        },
        'CentOS': {
            'packages':[
                'java-1.7.0-openjdk',
                'openssh'
            ],
        },
        'RedHat': {
            'packages':[
                'java-1.7.0-openjdk',
                'openssh'
            ],
        },
    },
    grain='os_family',
    merge=salt['pillar.get']('dependencies:lookup'),
    default='default',
    base='default'
)
%}
